* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #FFF;
}

ul, ol {
    list-style: none;
}

:root {
    --default-color: #3347B0;
    --secondary-color: #BCC2E5;
    --background-finished: #E5B657;

    --approved-color: #3347B0;
    --exam-color: #E5B657;
    --disapproved-color: #C11010;
}