.blue {
    background-color: var(--default-color);
}
.yellow {
    background-color: var(--background-finished);
}
.blue, .yellow {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    flex-grow: 1;
}

.subtitle-container {
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #BCC2E5;
}
.subtitle {
    display: flex;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
}
.studying, .finished {
    display: flex;
    gap: 8px;
}
.menu {
    margin-left: 95px;
}
.subtitle {
    margin-right: 95px;
}

.title {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    color: var(--default-color);
}

.students-container {
    /* height: 80%; */
    width: 90%;
    background-color: tomato;
}
.content-container {
    height: 80%;
    width: 95%;
    background-color: aqua;
}