.blue {
    background-color: var(--default-color);
}
.yellow {
    background-color: var(--background-finished);
}
.blue, .yellow {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.subtitle-container {
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #BCC2E5;
}
.menus-container {
    display: flex;
    margin-left: 95px;
    font-size: 1rem;
    width: fit-content;
    gap: 150px;
}
.status-menu,
.conclusion-year-menu {
    border: none;
    background: none;
    color: var(--default-color);
    appearance: none;
    outline: none;

    font-size: 1rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.status-menu option,
.conclusion-year-menu option {
    background-color: var(--default-color);
    color: #FFFFFF;
    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.subtitle {
    display: flex;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--default-color);
}
.studying, .finished {
    display: flex;
    gap: 8px;
}
.subtitle {
    margin-right: 95px;
}

.title {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    color: var(--default-color);
}

.content-container {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 80px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 390px;
    width: 250px;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 12px 30px 12px;
}

.card-yellow {
    background-color: var(--background-finished);
}
.card-blue {
    background-color: var(--default-color);
}
.student-image {
    height: 200px;
    width: 200px;
}

/* MENU */

.menu {
    background-color: var(--secondary-color);
    border: none;
}

