main {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding: 95px;
    gap: 5%;
}

.student-profile {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.student-image {
    height: 400px;
    width: 400px;
}
.student-name {
    font-family: 'Poppins', sans-serif;
    color: var(--default-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-weight: 500;
}

.scores {
    height: 500px;
    min-width: 500px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 50px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.subject-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 10px;
    font-size: 1.2rem;
}

.student-score {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.score-progress {
    transform: rotate(-90deg);
    width: 280px;
    height: 25px;
    border-radius: 0.75rem;
}   
.subject-score {
    font-weight: 500;
    color: var(--default-color);
    text-shadow: 0 4px 0.2rem #00000025;
}

.approved-score {
    color: var(--approved-color);
}
.exam-score {
    color: var(--exam-color)
}
.disapproved-score {
    color: var(--disapproved-color)
}

/*********************************************************/

.score-progress::-webkit-progress-bar {
    background-color: #ebebeb;
    border-radius: 0.2rem;
}

.approved::-webkit-progress-value {
    background-color: var(--approved-color);
    border-radius: 0.2rem;
    box-shadow: 0 0 0.7rem var(--approved-color);
}

.disapproved::-webkit-progress-value {
    background-color: var(--disapproved-color);
    border-radius: 0.2rem;
    box-shadow: 0 0 0.7rem var(--disapproved-color);
}

.exam::-webkit-progress-value {
    background-color: var(--exam-color);
    border-radius: 0.2rem;
    box-shadow: 0 0 0.7rem var(--exam-color);
}

/*********************************************************/

.subject-initials {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--default-color);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}