main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.main-container {
    height: 65%;
    width: 100%;

    margin-top: 180px;
    margin-bottom: 180px;
    margin-left: 200px;
    margin-right: 200px;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: space-around; */
}

.devices-info, .student, .courses {
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
}
.blue {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--default-color);
}

.devices-info {
    font-family: 'Roboto', sans-serif;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: tomato; */
}
.devices-info-text {
    width: 700px;
    font-weight: 100;
    font-size: 3.625rem;
    margin-top: 50px;
}
.devices-img {
    height: 400px;
    width: 680px;
    /* background-color: aqua; */
}

.student {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-right: 200px;
    margin-left: -100px;
}
.student img {
    height: 650px;
}

.courses {
    display: flex;
    height: auto;
    justify-content: space-between;
}
.course-content {
    width: 500px;
    height:300px;
    background-color: var(--default-color);
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.course-icon {
    height: 100px;
}
.course-name {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
}